{% extends 'base.html' %}

{% block title %} Login {% endblock %}

{% block section %}

            <div class="col-md-12">
                <h2>Login Form</h2>
            </div>
            <div class="col-md-12">
                    {% for error in errors %}
                        <h4><span style="color:red">{{ error }}</span></h4>
                    {% endfor %}
            </div>

            <form class="form-horizontal" role="form" method="post">
                {% csrf_token %}
				<div class="form-group">
                    {{ form.usr.errors }}
                    <label for="{{ form.usr.id_for_label }}" class="col-sm-2 control-label">
						Usuario
					</label>
					<div class="col-sm-10">
						<input type="text" class="form-control" id="id_usr" name="usr" />
					</div>
				</div>
				<div class="form-group">
                    {{ form.pwd.errors }}
                    <label for="{{ form.pwd.id_for_label }}" class="col-sm-2 control-label">
						Password
					</label>
					<div class="col-sm-10">
						<input type="password" class="form-control" id="id_pwd" name="pwd" />
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-offset-2 col-sm-10">

						<button type="submit" class="btn btn-default">
							Sign in
						</button>
					</div>
				</div>
			</form>


{% endblock %}